.paddingQ{
    padding-top: 200px;
}
.padding01{
  padding-top: 100px;
}
.questionsAnsDivInnerContentXr{
  margin-top: -80px;
}
.questionsAnsDivInnerContent{
  margin-top: -30px;
}
/* WebKit (Chrome, Safari, Edge) */
.scrollbar-thumb-only::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thumb-only::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thumb-only::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* or any color you want */
  border-radius: 3px;
}

/* Firefox */
.scrollbar-thumb-only {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

@media screen and (min-width: 300px) and (max-width: 768px) {

  .padding01 {
    padding-top: 50px;
  }
  .questionDiv{
    width: 100%;
  }
  .questionDivTxt{
    font-size: 40px !important;
  }
  .questionDivTxtSpan{
    width: 10px;
    height: 10px;
  }
  .questionsAnsDiv{
    height: 200px;
    gap: 5px !important;
    padding-top: 30px !important;
    margin-top: 20px;
  }
  .questionsAnsDivInner{
    margin-left: -5px !important; 
    width: 100% !important;
  }
  .questionsAnsDivInnerTxt{
    font-size: 20px !important;
    margin-top: -10px !important;
    line-height: 30px;
  }
  .questionsAnsDivInnerContent{
    margin-top: -50px !important;
  }
  .questionsAnsDivInnerContentTxt{
    font-size: 15px !important;
    line-height: 20px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1253px) {
  .questionDivTxt{
    font-size: clamp(30px, 4vw, 55px);
  }
  .questionsAnsDivInnerTxt{
    font-size: clamp(18px, 4vw, 30px);
  }
  .questionsAnsDivInnerContent{
    margin-top: -25px;
  }
  .questionsAnsDivInnerContentTxt{
    font-size: clamp(10px, 4vw, 13px);
  }
  .questionsAnsDivInnerContentX{
    margin-top: -50px !important;
  }
  
}
