.shadowx {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.hr{
    height: 3px;
}



/* Twitter trends Responsiveness */
@media screen and (max-width: 424px) {
    
}

/* ========== 768px and Below ========== */
@media screen and (max-width: 768px) {
  .trendFlexContainer {
    flex-direction: column;
    gap: 24px;
  }

  .trendCharts svg {
    width: 80% !important;

  }

  .trendDataCard {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
  }

    .trendTags,
  .trendPostCounts,
  .trendCharts,
  .trendChangeInfo {
    flex: 1 1 auto;
    min-width: 100px;
    max-width: 100%;
    gap: 40px;
  }

    .trendChangeInfo {
    gap: 65px;
  }

  .trendPostCounts {
    margin-left: 80px;
    gap: 63px;
  }

  .tagItem {
    font-size: 12px;
    padding: 6px 12px;
  }

  .trendTags {
    gap: 50px;
  }

  .aiTrendCard {
    padding: 16px;
  }

  .trendTitle {
    font-size: 16px;
  }
}

/* ========== 769px to 1028px ========== */
@media screen and (min-width: 769px) {
  .trendFlexContainer {
    flex-direction: row;
  }

  .trendDataCard {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
  }

  .trendTags,
  .trendPostCounts,
  .trendCharts,
  .trendChangeInfo {
    flex: 1 1 auto;
    min-width: 100px;
    max-width: 100%;
    gap: 40px;
  }

  .tagItem {
    font-size: 14px;
    padding: 8px 20px;
  }

  .trendChangeInfo {
    gap: 65px;
  }

  .trendPostCounts {
    margin-left: 80px;
    gap: 63px;
  }

}

@media screen and (min-width: 769px) {
  .trendGroupItem {
    border-bottom: none;
    padding-bottom: 0;
  }
}

/* Twitter Trends Responsiveness Ends Here */
