

@media screen and (max-width: 768px) {
  .plus-grid {
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  }

  .plusDiv {
    height: 1600px !important;
    overflow: hidden;
  }


  }

