.heightF{
  height: 550px;
  background: linear-gradient(to bottom, #000000 0%, #2a2a2a 40%, #1e1c1c 70%, #000 100%);
}
.fontBtn{
  font-size: 15px;
}
.btnGrad{
background: #262626;
background: linear-gradient(90deg, rgba(38, 38, 38, 1) 0%, rgba(0, 0, 0, 1) 55%, rgba(79, 79, 79, 1) 100%);
transition: ease 0.5s;
}
.btnGrad:hover{
  transform: scale(1.05);
}
.exMargin{
  margin-left: 500px;
}
.padding{
  padding-top: 180px;
}
.textWds{
  font-size: 55px;
  line-height: 60px;
}
.padding01{
  padding-top: 100px;
}
.fade-in {
  opacity: 0;
  transform: translateY(70px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes rectMove {
  0% {
    clip-path: inset(0 100% 100% 0);
  }
  25% {
    clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(0 0 0 100%);
  }
  75% {
    clip-path: inset(100% 0 0 0);
  }
  100% {
    clip-path: inset(0 100% 100% 0);
  }
}


@media screen and (min-width: 300px) and (max-width: 768px) {

  .responsive-main {
    padding: 0 16px;
    height: auto;
    width: 100vw;
    overflow: hidden;
  }



  .containerRes {
    max-width: 100%;
    padding: 0 6px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
    .containerCustom{
    max-width: 100%;
    padding: 0px 6px;
    height: auto;
  }
  .containerCustomX{
    max-width: 100%;
    padding: 0px 6px;
    height: auto;
  }
  .bottomResLine{
    top: 30px !important;
  }
  .fontBtn{
    margin-top: 20px;
  }
  .fontBtnDivXoh{
    margin-left: 10px;
  }
  .fontBtnDivXohBtn{
    margin-top: 40px;
    font-size: 13px;
    margin-top: 10px;
    width: 140px;
  }
  .containerResX{
    max-width: 100%;
    padding: 0 6px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  .cardRes {
    width: 100%;
    height: auto;
    margin-top: 70px;
  }

  .moveRes {
    width: 100%;
    margin-left: 0;
  }

  .moveResTxtX{
    margin-top: -20px;
  }

  .moveResTxt{
    font-size: 30px;
  }

  .iconsTxtRes{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .iconTxtIconRes{
    margin-top: 55px;
    width: 100%;
  }

  .portRes{
    margin-left: 0px;
    width: 100%;
    height: 100px;
    margin-top: -50px;
  }
  .portResTxt{
    font-size: 16px;
    margin-top: 10px;
    text-align: left;
  }
  .res001{
    width: 100%;
    position: relative;
  }
  .resHomeEx{
    background-color: black;
    width: 50%;
    position: absolute;
    right: 0px;
  }
  .aboutRes{
    margin-top: 100px;
    display: flex;
    height: 250px;
    flex-direction: column;
  }
  .aboutResTxt{
    font-size: 35px;
  }
  .aboutResTxtDiv{
    width: 92%;
  }
  .availaRes{
    display: flex;
    flex-direction: column !important;
    align-items: normal;
  }
  .descDiv{
    width: 100%;
  }
  .logoDiv{
    width: 100%;
    height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto); 
  place-items: left;
  padding-right: 15px !important;
  }
  .logoDivImg{
  background-color: #3b372c;
  padding: 10px 20px;
  border-radius: 8px;
  width: 200px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  }
  .logoDivImg1{
    margin-left: 30px;
  }
  .logoDivImg3, .logoDivImg4{
    margin-top: -130px;
    margin-right: 10px !important;
  }
  .logoDivImg5, .logoDivImg6{
    margin-top: -130px;
    margin-right: 10px !important;
  }
  .logoDivImg2, .logoDivImg4, .logoDivImg6{
    margin-left: -2px !important;
  }
  .servDiv{
    width: 100%;
  }
  .driveDiv{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
  }
  .driveDivTxt{
    font-size: 35px;
    line-height: 40px;
    text-align: left;
  }
  .driveDivBtnDiv{
    left: 7px;
    display: flex;
    justify-content: left;
  }
  .discoDiv{
    width: 100%;
    margin-left: 0px;
  }
  .blurDiscoDiv{
    height: 300px !important;
  }
  .getDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .getDivTxt{
    margin-left: 0px;
    font-size: 45px;
    margin-top: 10px;
  }
  .getDivTxtHide{
    display: none;
  }
  .digiDiv{
    flex-direction: column;
    padding-top: 10px !important;
  }
  .digiDiv2{
    margin-top: -30px !important;
        flex-direction: column;
  }
  .digiDivMain{
    margin-left: -20px !important;
    margin-top: 10px !important;
overflow: visible;
  }
  .digiDivMainTxt{
    font-size: 25px;
  }
  .digiDivMainBtn{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px ;
    width: 180px;
    height: 50px;
  }
  .digiDivMainBtnDiv{
    height: 300px;
    width: 100%;
overflow: visible;
  }
  .digiDivMainTxt3{
    font-size: 25px;
  }
 .space-x-4{
      overflow-x: auto;
      display: flex;
      flex-direction: column;
 }
  
  .expandToggleBox{
    margin-top: -25px;
  }
  .expandToggleBox p{
    font-size: 14px;
    margin-left: 10px;
  }
  .recentDiv{
    margin-top: 50px;
  }
  .recentDivTxt{
    font-size: 32px;
  }
  .projectDivHover{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
  }
  .projectDivHover1{
    width: 100%;
  }
  .projectDivHover2{
    width: 100%;
    margin-top: 30px;
    z-index: 10;
  }
  .projImgRes{
    height: clamp(250px, 1vw, 400px);
  }
  .hiddenHoverBtnP{
    display: none;
  }
  .datehidden{
    display: none;
  }
  .seeAllPDiv{
    margin-top: 350px;
  }
  .seeAllPDivTxt{
    font-size: 25px;
  }
    .testiDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  
  }
  .testiDiv h1{
    font-size: 40px;
    margin-left: 30px;
  }
  .testiHoldDiv{
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  .testiHoldDivTop{
    flex-direction: row;
    width: 100%;
    padding: 5px;
  }
  .testiHoldDivDown{
    width: 100%;
    margin-left: 1px !important;
  }
}
  


@media screen and (min-width: 769px)  {


      .containerCustom{
  max-width: 2000px;
  padding: 0px 100px;

  }
  .servDiv{
    margin-top: 90px !important;
  }
  .availaRes{
    margin-top: 90px !important;
  }
  .aboutRes{
    padding-top: 120px !important;
  }
  
}

@media screen and (min-width: 769px) and (max-width: 898px) {
    .containerRog{
      max-width: 2000px;
  padding: 50px;
  margin-top: 0px;
  }
  .projImgRes{
    height: 350px !important;
  }
  .discoDiv{
    margin-left: 30px;
  }
    .HoverBtnP{
    font-size: 11px;
  }
  .moveRes{
    height: 250px;
    margin-left: clamp(20px, 4vw, 40px);
  }
    .moveResTxt{
  font-size: clamp(24px, 4vw, 40px);
  }

  .portRes{
    margin-left: clamp(80px, 4vw, 120px);
    width: 400px;
    height: fit-content;
  }
  .driveDiv{
    display: flex;
    align-items: end;
  }
  .driveDivTxt{
    font-size: clamp(15px, 4vw, 30px);
    line-height: 30px;
  }
  .digiDivMainBtnX{
    font-size: 11px;
  }
  .expandToggleBox{
    margin-top: -20px;
  }
  .expandToggleBox p{
    font-size: 13px;
  }
  .recentDivTxt{
    font-size: clamp(24px, 8vw, 30px);
  }
  .projectDivHover{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .projectDivHover1{
    width: 100%;
  }
  .projectDivHover2{
    width: 100%;
    margin-top: 30px;
    z-index: 100;
  }
   .getDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .getDivTxt{
    margin-left: 0px;
    font-size: 45px;
    margin-top: 10px;
  }
    .testiDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  
  }
  .testiDiv h1{
    font-size: 40px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 899px) and (max-width: 1253px) {
  .containerRog{
      max-width: 2000px;
      padding: 30px;
  }
  .HoverBtnP{
    font-size: 11px;
  }
  .moveResTxt{
  font-size: clamp(24px, 4vw, 45px);
  }
  .cardRes{
    width: 80%;
  }
    .driveDiv{
    display: flex;
    align-items: end;
  }
  .driveDivTxt{
    font-size: clamp(20px, 4vw, 40px);
    line-height: 30px;
  }
    .projectDivHover{
    width: 100%;
    height: 900px;
    display: flex;
    overflow-y: auto;
  }
  .projectDivHover1{
    width: 100%;
  }
  .projectDivHover2{
    width: 100%;
    margin-top: 30px;
    z-index: 100;
  }
   .getDivTxt{
    margin-left: 250px;
    font-size: 70px;
    margin-top: 10px;
  }
  .testiDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  
  }
  .testiDiv h1{
    font-size: 40px;
    margin-left: 30px;
  }
}
